@use "@/styles/_colors" as *;
@import "@/styles/_breakpoints.scss";

.user-card {
  padding: 1.875rem 0 0 1.875rem;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid rgba($primary-color, 0.06);
  margin-bottom: 1.875rem;
  overflow: hidden;
  border-radius: 4px;

  @include breakpoint(mobile) {
    padding: 1.875rem 1.875rem 0 1.875rem;
  }

  &__info {
    display: flex;
    margin-bottom: 3.1875rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      gap: 14px;
      align-items: center;
    }

    @include breakpoint(tab-portrait) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    @include breakpoint(desktop) {
      flex-direction: row;
      gap: 1.25rem;
      align-items: center;
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 1.875rem;

      @include breakpoint(mobile) {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
      }

      &__id {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include breakpoint(mobile) {
          text-align: center;
        }

        p {
          &:first-child {
            color: $primary-color;
            font-weight: 500;
            font-size: 1.375rem;
          }

          &:last-child {
            color: $input-color;
            font-size: 14px;
          }
        }
      }

      &__tier {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1.1875rem 1.875rem;
        border-left: 1px solid rgba($input-color, 0.2);
        border-right: 1px solid rgba($input-color, 0.2);

        @include breakpoint(mobile) {
          border-right: none;
          border-left: none;
          border-top: 1px solid rgba($input-color, 0.2);
          border-bottom: 1px solid rgba($input-color, 0.2);
          width: 100%;
          align-items: center;
        }

        p {
          color: $input-color;
          font-size: 14px;
          font-weight: 500;
        }

        div {
          display: flex;
          gap: 4px;
        }
      }

      &__account {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include breakpoint(mobile) {
          text-align: center;
        }

        p {
          color: $primary-color;

          &:first-child {
            font-weight: 500;
            font-size: 1.375rem;
          }

          &:last-child {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-right: 2.25rem;
    width: 100%;

    @include breakpoint(mobile) {
      overflow: auto;
      gap: 2rem;
      padding-right: 1rem;
    }

    @include breakpoint(tab-portrait) {
      overflow: auto;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      font-family: inherit;
      font-size: 1rem;

      @include breakpoint(mobile) {
        font-size: 12px;
      }

      &:hover,
      &:nth-child(1) {
        color: $secondary-color;
      }

      &:nth-child(1) {
        transition: all;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        border-bottom: 2px solid $secondary-color;

        @include breakpoint(mobile) {
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }
}
