@use "@/styles/_colors" as *;
@import "@/styles/_breakpoints.scss";

.form-container {
  margin: 0 6.245rem 0 6.25rem;
  width: 100%;

  @include breakpoint(mobile) {
    margin: 0 auto;
    max-width: 27.9375rem;
  }
  @include breakpoint(tab-portrait) {
    margin: 0 auto;
    max-width: 27.9375rem;
  }

  h1 {
    margin-bottom: 0.625rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: $primary-color;
  }

  .instruction {
    margin-bottom: 3.75rem;
    font-size: 1.25rem;
    color: $input-color;
  }

  form {
    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1.875rem;

      .error {
        color: red;
      }

      .email-input,
      .password-input {
        position: relative;

        input {
          border: 2px solid rgba($input-color, 0.15);
          outline: none;
          padding: 1.09375rem 0 1.09375rem 1rem;
          width: 100%;
          font-family: inherit;
          font-size: 0.875rem;
          display: block;
          border-radius: 5px;
        }

        label {
          background-color: white;
          outline: 3px solid white;
          position: absolute;
          top: 1.2rem;
          left: 1rem;
          color: rgba($input-color, 0.6);
          font-size: 0.875rem;
          font-weight: 400;
          pointer-events: none;
          transition: top 0.25s, font-size 0.25s, color 0.25s;
        }

        input:focus {
          border-color: $secondary-color;
        }

        input:focus + label {
          color: $secondary-color;
          top: -0.5rem;
          font-size: 0.75rem;
        }

        .show {
          position: absolute;
          display: inline;
          top: 1.25rem;
          right: 1.25rem;
          border: none;
          background-color: #fff;
          font-family: inherit;
        }
      }

      .show,
      p {
        font-weight: 600;
        font-size: 0.875rem;
        color: $secondary-color;
        cursor: pointer;
      }
    }

    .login-btn {
      font-family: inherit;
      width: 100%;
      background-color: $secondary-color;
      border: none;
      cursor: pointer;
      font-weight: 600;
      font-size: 0.875rem;
      color: #fff;
      padding: 1.25rem 0;
      border-radius: 8px;
      line-height: 19.12px;
      letter-spacing: 2px;
    }
  }
}
