@use "@/styles/_colors" as *;
@import "@/styles/_breakpoints.scss";

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

.login {
  font-family: "Avenir-Next", sans-serif;
  max-width: 1440px;
  margin: 4rem auto;

  @include breakpoint(mobile) {
    margin: 0;
    padding: 2rem;
  }

  @include breakpoint(desktop) {
    margin: 6.25rem auto;
  }

  .logo {
    @include breakpoint(mobile) {
      margin: 0 0 1rem 0;
    }
    @include breakpoint(tab-portrait) {
      margin: 0 0 2rem 2rem;
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 4.3125rem;

    @include breakpoint(mobile) {
      display: block;
    }
    @include breakpoint(tab-landscape) {
      gap: 1rem;
    }

    img {
      margin-top: 4rem;
      @include breakpoint(mobile) {
        display: none;
      }
      @include breakpoint(tab-portrait) {
        display: none;
      }
      @include breakpoint(tab-landscape) {
        display: none;
      }
      @include breakpoint(desktop) {
        display: block;
      }
    }
  }
}
