@use "@/styles/_colors" as *;
@import "@/styles/_breakpoints";

.container {
  font-family: "Work Sans", sans-serif;
  width: 283px;
  padding-top: 2.4375rem;
  height: calc(100% - 7.5rem);
  background-color: white;
  margin-top: 7.47rem;
  overflow: auto;
  position: fixed;
  font-size: 1rem;
  transform: translateX(-283px);
  transition: all 0.25s ease-in-out;

  @include breakpoint(desktop) {
    transform: translateX(0px);
  }

  .org-switch {
    background-color: #fff;
    border: none;
    font-family: inherit;
    margin: 0 1.9375rem 3.25rem 1.875rem;
    font-size: inherit;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: $primary-color;
  }

  .home {
    margin-left: 1.875rem;
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      color: $light-primary-color;
      font-size: 1.125rem;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-name {
      margin-left: 1.875rem;
      margin-top: 2.5625rem;
      color: $input-color;
      font-size: 0.875rem;
      font-weight: 500;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        @extend .list-item;

        &.list-item--active {
          background-color: $hover-color;
          border-left: 5px solid $secondary-color;

          a {
            color: $primary-color;
          }
        }
      }

      .list-item {
        border-left: 5px solid transparent;

        &:hover {
          background-color: $hover-color;
        }

        a {
          padding: 1rem 0 1rem 1.5rem;
          display: flex;
          gap: 10px;
          align-items: center;
          font-family: inherit;
          text-decoration: none;
          color: $light-primary-color;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid rgba($primary-color, 0.1);
    margin-top: 2.75rem;
    padding: 1rem 2.9375rem 1rem 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: $primary-color;

    button {
      cursor: pointer;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: inherit;
    }

    .version-number {
      margin-top: auto;
      font-size: 0.75rem;
    }
  }
}

.open {
  transform: translateX(0);
}
