@use "@/styles/_colors" as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  background-color: #fff;
  width: 16.875rem;
  padding: 1.875rem 1.25rem;
  border: 1px solid rgba($input-color, 0.14);
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.875rem;
    color: $input-color;
    .form__input-box {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        margin-top: 6px;
        border: 1px solid rgba($primary-color, 0.15);
        outline: none;
        padding: 12px 1.25rem;
        width: 100%;
        font-family: inherit;
        font-size: 14px;
        border-radius: 8px;

        &::placeholder {
          color: $input-color;
        }
      }

      .form-icon {
        position: absolute;
        top: 1.35rem;
        right: 1.25rem;
        color: rgba($input-color, 0.6);
      }
    }
  }

  div {
    margin-top: 10px;
  }

  .btn-group {
    display: flex;
    gap: 14px;

    button {
      padding: 12px 1.875rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      border-radius: 8px;
    }

    &__reset {
      background-color: #fff;
      color: $input-color;
      border: 1px solid $input-color;
    }

    &__filter {
      background-color: $secondary-color;
      color: #fff;
      border: none;
    }
  }
}
